@font-face {
    font-family: 'metropolisbold';
    src: url('../Qubly_Template/css/fonts/metropolis-bold-webfont.woff2') format('woff2'),
        url('../Qubly_Template/css/fonts/metropolis-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metropolisregular';
    src: url('../Qubly_Template/css/fonts/metropolis-regular-webfont.woff2') format('woff2'),
        url('../Qubly_Template/css/fonts/metropolis-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'metropolismedium';
    src: url('../Qubly_Template/css/fonts/metropolis-medium-webfont.woff2') format('woff2'),
        url('../Qubly_Template/css/fonts/metropolis-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}